.container {
    width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
}

.mahasiswa-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mahasiswa-input-container>div {
    flex: 1;
    margin-right: 20px;
}

.mahasiswa-input-container>div:last-child {
    margin-right: 0;
}

.mahasiswa-input-container input {
    width: 50px;
}

button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}